body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 98%;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 1200px;
    background-color: #fff;
}



hr.style1{
	border-top: 1px solid #8c8b8b;
}

#circle {
width: 70px;
    height: 70px;
    background: #000;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-left: 60px;
}
