body {
  margin: 0px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 20px;
}

#wrapper {
    width: 98%;
    
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
    overflow: auto;
  /*  position: fixed; */
    margin: 10px 6px 5px 3px;

}


hr.style1{
	border-top: 1px solid #8c8b8b;
}

.img-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0px 5px 3px 18px;
}