body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 98%;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        padding: 0 10px;
        border-left: 1px solid #e7e7e7;
    }
}


hr.style1{
	border-top: 1px solid #8c8b8b;
}

.img-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0px 5px 3px 18px;
}