<div>
    <div class="row">
        <div class="col-lg-12">
            <div id="header_logo">Dashboard</div>
        </div>
    </div>
    <hr class="style1">
    <div class="row">
        <stats number="6" comments="New comments!" colour="primary" type="comments"></stats>
        <stats number="12" comments="New tasks!" colour="green" type="user"></stats>
        <stats number="18" comments="New orders!" colour="yellow" type="shopping-cart"></stats>
        <stats number="24" comments="Support tickets!" colour="red" type="support"></stats>
        <stats number="24" comments="Support tickets!" colour="red" type="support"></stats>
        <stats number="24" comments="Support tickets!" colour="red" type="support"></stats>

        
   </div>

   <div class="row">


   </div>
  
</div>
