
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-4 loginpanel">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Login</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="User Name" name="email" ng-model="userObject.userName" style="border-radius:0px" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" style="border-radius:0px" ng-model="userObject.password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a class="btn btn-lg btn-success btn-block" ng-click="doLogin(userObject.userName,userObject.password)" style="border-radius:0px">Login</a>
                            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'position-class':'toast-bottom-right'}"></toaster-container>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>